<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid">
    <form [formGroup]="changepasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-4 mt-4">
            <input [type]="password" class="form-control" formControlName="oldPassword" placeholder="Password" [ngClass]=" { 'is-invalid': submit && f.oldPassword.errors } "/>
            <div *ngIf="submit && f.oldPassword.errors" class="invalid-feedback">
                <div *ngIf="f.oldPassword.errors.required">Enter Old password to change new password</div>
                <div *ngIf="f.oldPassword.errors.invalidOldPassword">Old password is invalid </div>
            </div>
        </div>
        <div class="form-group col-4 mt-4">
            <input [type]="password" class="form-control" formControlName="newPassword" placeholder="New Password" [ngClass]=" { 'is-invalid': submit && f.newPassword.errors } "/>
            <div *ngIf="submit && f.newPassword.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors.required">Password is required</div>
                <div *ngIf="f.newPassword.errors.minlength">Password Should be 6 digit </div>
            </div>
        </div>
        <div class="form-group col-4 mt-4">
            <input [type]="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm New Password" [ngClass]=" { 'is-invalid': submit && f.confirmPassword.errors } ">
            <i  aria-hidden="true" *ngIf="!show"></i>
            <i  aria-hidden="true" *ngIf="show"></i>
            <div *ngIf="submit && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required!</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Password doesn't match!</div>
            </div>
        </div>

        <div (click)="onClick()">
            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
        </div>

        <div>
            <button type="submit" class="btn btn-primary mt-4">Change</button>
        </div>
    </form>
</div>
